[Desktop Entry]
Terminal=false
Name=Channel-joiner
Name[cs]=Spojovač kanálů
Name[da]=Kanal-tilslutter
Name[es]=Entrar en el canal
Name[et]=Kanaliühendaja
Name[nl]=Meedoen in kanaal
Name[pt]=Ligação ao canal
Name[pt_BR]=Entrada no canal
Name[sv]=Gå med i kanal-verktyg
Name[uk]=Долучення до каналу
Name[x-test]=xxChannel-joinerxx
Comment=
Type=Application
Icon=


